@layer base {

html {
    box-sizing: border-box;
    
    }    

   

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --dark-grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);

    --base-size: 1rem;
    --scale: 1.25;

    --h1: 2.5rem;
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--small) * var(--scale));

    --start: var(--base-size);
    --small: 10px;
    
    --font-family: 'Roboto', sans-serif;
    --font-2: 'Geist Mono', monospace;
}

body {
    line-height: 1.5;
    font-size: var(--base-size);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}



}

@layer bodyimg {
    body {
        background-image: url(/assets/images/helloworld.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 3rem 6rem 3rem 6rem;
       
    }

    .news-letter-layer {
        max-width: 100%;
        background-color: var(--dark-grey);
        border: none;
        outline: none;
        padding: 4rem 4rem 3rem 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        
        
    }

    .news-letter-content {
        background-color: var(--white);
        display: grid;
        grid-template-columns: 1fr 1fr;
       
        border-radius: 12px;
        padding: 1rem 1rem 1rem 2rem;
        max-width: 100%;
        width: 70%;
        font-family: var(--font-family);
        
        
    }

     .img-div {
        background-image: url(/assets/images/illustration-sign-up-desktop.svg);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        grid-column: 2/3;
        grid-row: 1/2;

    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: var(--font-2);
    
    }

   
}

@layer content {
    h1 {
        font-size: var(--h1);
        margin: 0;
        padding: 0;
    }
     
    ul {
       
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-bottom: 1rem;
        
    }
    li {
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-bottom: 0.70rem;
        
        
    }
    li svg {
        margin-right: 10px;
        
    }

     label {
        font-size: var(--small);
        margin-bottom: 0.5rem;
        
    }
    #mail {
        padding: 0.7rem;
        margin-bottom: 0.80rem;
        border-radius: 5px;
        outline: none;
        border: solid 1px var(--Grey);
        max-width: 100%;
        width: 90%;
    }

    .button {
        padding: 0.7rem;
        border-radius: 5px;
        outline: none;
        max-width: 100%;
        width: 90%;
        background-color: var(--dark-grey);
        border: 1px solid var(--dark-grey);
        color: var(--white);
        margin-bottom: 0.90rem;
    }

    .news-letter-content p {
        
        margin: 0.5rem 0 1rem 0;
    }
}

